@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100%;
}
:root {
  --orange-color: #ff3f3a;
  --sariq-color: #b79d77;
  --yashil-color: #03cea4;
  --kok-color: #5a87fc;
  --sect-color: #f75e05;
}
.container {
  max-width: 1230px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
}
header {
  display: flex;
  background-color: var(--sariq-color);
  height: 1080px;
  width: 100%;
}
header h1 {
  font-family: 'Roboto';
}
a img {
  width: 20px;
  height: 20px;
}
.btn-orange {
  width: 207px;
  height: 52px;
  background-color: var(--sariq-color);
}
.head-top {
  display: flex;
}
.head-top a {
  display: flex;
  /* flex-direction: column; */
}
